<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SecureDICOMExample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SecureDICOMExample.Properties.Settings>
            <setting name="SCU_aet" serializeAs="String">
                <value>TEST_SCU</value>
            </setting>
            <setting name="SCU_port" serializeAs="String">
                <value>2104</value>
            </setting>
            <setting name="SCU_use_tls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SCU_cert_cn" serializeAs="String">
                <value />
            </setting>
            <setting name="SCU_thumbprint" serializeAs="String">
                <value />
            </setting>
            <setting name="SCU_accepted" serializeAs="String">
                <value />
            </setting>
            <setting name="RSCP_aet" serializeAs="String">
                <value>TEST_PACS</value>
            </setting>
            <setting name="RSCP_host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="RSCP_port" serializeAs="String">
                <value>104</value>
            </setting>
            <setting name="LSCP_aet" serializeAs="String">
                <value>TEST_SCP</value>
            </setting>
            <setting name="LSCP_port" serializeAs="String">
                <value>1104</value>
            </setting>
            <setting name="LSCP_use_tls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LSCP_cert_subj" serializeAs="String">
                <value />
            </setting>
            <setting name="LSCP_tumbprint" serializeAs="String">
                <value />
            </setting>
            <setting name="LSCP_use_cn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SCU_use_cn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LSCP_mutual_auth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LSCP_accepted" serializeAs="String">
                <value />
            </setting>
            <setting name="SCU_cert_store" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SCU_method" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LSCP_cert_store" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LSCP_method" serializeAs="String">
                <value>0</value>
            </setting>
        </SecureDICOMExample.Properties.Settings>
    </userSettings>
</configuration>